/* RESET
--------- */

body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* COMMON
--------- */
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    
}

.header-box{
    width: 100%;
    background-color: #FF6900;
    /* position: fixed; */
    width: 100%;
    z-index: 150;
}

/* TYPO
--------- */
body{
    font-family: 'Roboto', sans-serif;
}        

strong{
    color: red;
    font-weight: bold;
}


/* MAIN
--------- */

.logo img{
    height: 30px;
}

.nav{
    width: 20%;
    text-align: center;
}

 

.logo{
    width: 60%;
    text-align: center;
    
}

.icons{
    width: 20%;
    text-align: center;
   
}

.nav a{
    color: white;
    text-decoration: none;
    font-weight: 600;
    padding: 10px;
}

.icons i{
    color: white;
    padding: 5px;
}

.row{
    display: flex;
    justify-content: center;
    max-width: 1200px;
    margin: auto;
    
    
    flex-wrap: wrap;
}

.col{
   width: calc(33.33% - 20px);
   margin: 10px;
   padding-top: 40px;
   
}

.col img{
    width: 100%;
    display: block;
}

h4{
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 0px;
}