/* RESET
--------- */

body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* COMMON
--------- */
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    
}

.header-box{
    width: 100%;
    background-color: #FF6900;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 150;
    display: block;
    
}

/* TYPO
--------- */
body{
    font-family: 'Roboto', sans-serif;
}        

strong{
    color: red;
    font-weight: bold;
}


/* MAIN
--------- */

.logo img{
    height: 30px;
}

.nav{
    width: 20%;
    text-align: center;
}

 

.logo{
    width: 60%;
    text-align: center;
    
}

.icons{
    width: 20%;
    text-align: center;
   
}

.nav a{
    color: white;
    text-decoration: none;
    font-weight: 600;
    padding: 10px;
}

.icons i{
    color: white;
    padding: 5px;
}

.row{
    display: flex;
    justify-content: center;
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
   
    
    
    flex-wrap: wrap;
}

.col{
   width: calc(33.33% - 20px);
   margin: 10px;
   padding-top: 40px;
   height: 100%;
   
}

.col img{
    width: 100%;
    display: block;
}

h4{
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.item{
    position: relative;
}

.item-2{
    position: relative;
}

.item-3{
    position: relative;
}

.item-4{
    position: relative;
}


.relative-img img{
    position: relative;
}

.discount-50{
    position: absolute;
    top: 80%;
    background-color: red;
    color: white;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: bolder;
}

.discount-30{
    position: absolute;
    bottom: 7%;
    background-color: red;
    color: white;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: bolder;
}

.discount-30-2{
    position: absolute;
    bottom: 16%;
    background-color: red;
    color: white;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: bolder;
}


.sostenibilità{
    position: absolute;
    top: 80%;
    left: 15%;
    background-color: green;
    color: white;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: bolder;
}
.sostenibilità-2{
    position: absolute;
    top: 79.6%;
    left: 15%;
    background-color: green;
    color: white;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: bolder;
}

.heart{
    position: absolute;
    top: 2%;
    right: 0%;
    background-color: white;
    color: black;
    padding: 10px 10px;
    font-size: 14px;
    font-weight: bolder;
}

/* .discount-30{
    position: absolute;
    top: 80%;
    background-color: red;
    color: white;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: bolder;
} */

footer{
    background-color: black;
    padding-bottom: 40px;
}
.footer-1{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    padding: 0px;
    align-items: center;
    margin-top: 20px;
}

.footer-2{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    
    margin: auto;
}

.titolo-footer{
    color: white;
    
}

h5{
    color: white;
}

.footer-nav a{
    color: white;
    text-decoration: none;
    font-size: 12px;
    margin-right: 10px;
    
}


.footer-icons a{
    color: white;
    margin-left: 5px;

}